@import "./_variables";
.banner_superior{
    background-color:#000000;
    border-radius: 0px 0px 15px 15px; 
    font-family: "Arial";
    font-size: 1rem;
    height: 2rem;
    color: white;
}
header{
    padding: 0.3rem 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 10px -15px #030202;
    z-index: 1;
    nav{
        @include centrado-flex-fila;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        
        .menu__link{
            font-size: 1rem;
            text-decoration: none;
            font-weight: bold;
            color: rgb(0, 0, 0);
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin: 1rem;
            padding: 0.1rem;
        }
        .menu__link:hover{
            color: rgb(54, 54, 54);
            font-weight: 600;
            border-bottom: 1px solid rgb(65, 65, 65);
        }   
        .menu__iniciasesion{
            @extend .menu__link;
            border-left: 1px solid rgb(46, 46, 46);
        }
        .menu__iniciasesion:hover{
            color: rgb(49, 49, 49);
            font-weight: 600;
            border-bottom:0;
        }
        .menu--carrito{
            box-sizing: content-box;
            font-size: 1.5rem;
            color: #f44708;
            border-radius: 50%;
            padding: 0.6rem 0.8rem;
            transition: 0.3s;
        }
        .menu--carrito:hover{
            font-size: 1.5rem;
            color: #ffffff;
            background-color: #f44708;
            border: 1px solid #414141;
            padding: 0.6rem 0.8rem 0.6rem 0.7rem;
        }
    }
}