@import "./_variables";

@media  screen and (max-width: 768px){
    header{
        nav{
            flex-direction:column ;
            .imag__logo{
                width: 300px;
                margin-left: 25px;
            }
            .menu__link{
                margin:0.4rem;
                font-size: 1.2rem;
                font-weight: 500;
            }
            .menu__iniciasesion {
                border-left: 0;
            }
         }
    }
    .slider{
        width: 768px;
    }
    .fondo__banner .fila_envios{
        width: 100%;
        padding: 0rem 0.5rem;
    }
    .main__zonaentrega{
        flex-direction: column;
        .main--mapa{
            border-radius: 15px;
            width: 80%;
        } 
        .main__textosmapa{
            width: 600px;
        }
    }  
    
    .main--titulo{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .busqueda{
        width: 100%;
    }
    .categorias{
    
        font-size: 1rem;
    }
    
    .ofertas{
        grid-template-columns: repeat(3,210px);
    }
    .catalogo{
        margin: 0;
        .catalogo__categoria{
            height: 100%;
            width: 100%;
        }
        .productos{
            grid-template-columns: repeat(2,210px);
            grid-template-rows: repeat(3,1fr);
            grid-column-gap: 30px;
            justify-content: center;
        }
        .listaproductos{
            padding: 0;
            list-style-position: initial;
        }
        .categorias{
            margin-left: 2rem;
            font-size: 1rem;
            
        }
        &__inicio{
            margin-left: 0.5rem;
        }
        &__categoria{
            .titulo--categoria{
                margin-left: 1rem;
            }
        }
        .bannercategoria{
            width: 100%;
        }
        .busqueda{
            display: flex;
            justify-content: end;
            .catalogo__inputbusqueda {
                width: 80%;
            }

        }
        .catalogo__filtro{
            margin-right: 0.5rem;
        }
    }
    
}

@media  (max-width: 480px){
    main {
        min-height: 0;
    }
    header{
        padding: 0;
        nav{
            flex-direction:row;
            align-items: center;
            justify-content: center;
            .menu__link{
                margin:0;
                font-weight: 400;
                font-size: 1rem;
            }
            .menu__iniciasesion {
                border-left: 0;
            }
            .imag__logo{
                width: 225px;
                margin: 5px;
            }
        
        }
    }

    .fondo__banner{
        margin-bottom: 1rem;
        .banner__texto1{
            font-size: 1.1rem;
        }
        .banner__iconos{
            font-size: 1rem;
        }
        .fila_envios {
            padding: 0rem 2rem;
            border-radius: 2px;
            width: 100%;
        }

    }

    .popup{
        width: 300px;
    }
    .slider{
        width: 230px;
    }
    .imperdibles{
        font-size: 2rem;
    }
    .compras_bloque{
        padding: 0.2rem;
        margin: 0.3rem;
    }
    .main__contactos{
        .formulario__imputs{
            height: 2.5rem;
            width: 250px;
        }
        .main__formulario{
            width: 300px;
        }
        .main__formulario_escribir{
            width:250px
        }

    }
    .catalogo{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: "indice" 
                        "filtro" 
                         "categoria" 
                         "busqueda"
                          "bannercategoria"
                           "productos";
        .productos{
            grid-template-columns: repeat(1,210px);
            grid-template-rows: repeat(7,1fr);
            grid-column-gap: 30px;
            justify-content: center;
        }
        .catalogo__categoria{
            width: 90%;
            .titulo--categoria{
                margin: 0.5rem 1rem;
            }
            .listaproductos{
                margin-left: 3rem;

                .categorias{
                margin: 0;
                }
            }   
        }
        .busqueda{
            grid-area: busqueda;
            justify-content: center;
            .catalogo__inputbusqueda {
                width: 70%;
            }
        }
        .bannercategoria{
            width: 100%;
        }
        &__indice {
            margin-top: 1rem;
        }
        &__filtro{
            margin: 0;
        }
    }
    .banner_superior{
        height: 2.8rem;
        text-align: center;
        .texto_superior{
            line-height: 1rem;

        }
    }

    .main__comocomprar{
        width: 90%;
    }
    
    .listaproductos{
        padding: 0;
        list-style-position: initial;
        .categorias{
        
            font-size: 1rem;
        }
    }
    

    .ofertas{
        grid-template-columns: repeat(1,210px);
        grid-template-rows: repeat(7,1fr);
    }
    
    .main__zonaentrega{
        flex-direction: column;
        .main--mapa{
            width: 95%;
            
        }
        .main__textosmapa{
            width: 80%;
        }
        .main--titulo{
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    }  
    
    .pie{
        flex-direction: column;
    }
    
    .pie__apps{
        flex-direction: column;
        align-items: center;
    }
}