@import "./_variables.scss";
main{
    min-height: 100vh; 
    background-color: map-get($colores,gris-claro);     
}
.fondo__banner{
    background-color: rgb(73, 73, 73);          
    .banner__iconos{
        font-size: 3rem;               
        color: white;
    }
    .banner__texto1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 1.3rem;
        color: rgb(219, 219, 219);
    }
    .banner__texto2{
        font-size: 0.8rem;
        font-family: "Open Sans";
        font-weight: 400;
        color: rgb(219, 219, 219);
    }
}
.imperdibles{
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.ofertas{
    display: grid;
    margin:0 auto;
    width: 100%;
    grid-template-columns: repeat(4,210px);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 30px;
    justify-content: center;
    &__productos{
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 5fr 1fr 1fr 1fr 2fr;
        grid-template-areas: "foto        foto"
                            "descripcion descripcion"
                            "capacidad   capacidad"
                            "precio      precio"
                            "imput     comprar";
        justify-items: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(201, 197, 197);
        border-radius: 0px;
        background-color: #ffffff;
        transition:0.5s;
        max-height: 430px;
        .oferta__productos--texto{
            grid-area: descripcion; 
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            border-radius: 5px;
            color: rgb(50,50,50);
            font-family: 'Open Sans', sans-serif;
            line-height : 1.2rem;
        }
        .oferta__productos--capacidad{
            grid-area: capacidad;
            font-size: 0.8rem;
            font-weight: 500;
            font-family: 'Open Sans', sans-serif;
            color: rgb(50,50,50);
        }
        &__precio{
            grid-area: precio;
            font-size: 1.6rem;
            border-radius: 5px;
            color: map-get($colores,rojo);
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin: 0;      
            .tachado{
                text-decoration:line-through;
                color: map-get($colores,gris-semiclaro);
                font-size: 1rem;
                align-self: start;
            }
        }
        &__input{
            grid-area: imput;
            width: 40%;
            height: 50%;
            line-height: 1.65;
            display: block;
            padding-left: 8px;
            justify-self:end;
            margin-right: 11px;
            font-family: 'Open Sans';
        }
        
        &__boton{
            grid-area: comprar;
            display: flex;
            align-items: center;
            border-radius: 0px;
            width: 80%;
            height: 50%;
            background-color: map-get($colores,naranja);
            position: relative;
            overflow: hidden;
        }
        &__boton::before{
            content: 'Comprar';
            font-size: 0.9rem;
            font-weight: 200;
            text-align: center;
            text-decoration: none;
            font-weight: 500;
            color: rgb(255, 255, 255);
            font-family: 'Raleway', sans-serif;
            position: absolute;
            width: 100%;
            transition:all 0.2s ease-in-out;
        }
        
        &__boton::after{
            content: "\f07a";
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: 'FontAwesome';
            text-align: center;
            position: absolute;
            width: 100%;
            opacity: 1;
            font-size: 1.3rem;
            transform: translate(0%,200%);
            transition:all 0.2s ease-in-out;
        }
        &__boton:hover::before{
            opacity: 0;
            transform: translate(0%,-100%);
        }
        &__boton:hover::after{
            opacity: 1;
            transform: translate(0%,0%);
        
        }
        .ofertas--imagen{
            grid-area: foto;
            width: 180px;
            height: 180px;
            background-image: url(../img/oferta1.png);
            background-repeat: no-repeat;
            background-size: 45%;
            margin-top: 1rem;
        }
    }
    &__productos:hover{
        transform:scale(105%);
        box-shadow: 0 0 10px rgb(117, 117, 117);
    }
}
.catalogo{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  1fr  1fr 2fr auto;
    grid-template-areas: "indice        filtro"
                        "categoria     busqueda"
                         "categoria     bannercategoria"
                         "categoria         productos";
    justify-items: center;
    grid-row-gap: 0.5rem;
    margin: 2rem;
    &__indice{
        grid-area:indice;
        @include centrado-flex-fila;
        align-items: center;
        font-family: 'Open Sans';
        justify-self: self-start;
        
    }
    &__inicio{
        font-size: 1rem;
        color: map-get($colores,gris-oscuro);
        text-decoration: none;
        font-weight: 400;
        margin-left: 3rem;
    }
    &__catalogo{
        font-size: 1rem;
        color: map-get($colores,gris-oscuro);
        font-weight: 600;
        padding: 0;
    }
    &__filtro{
        grid-area:filtro;
        justify-self: end;
        font-size: 1rem;
        color: black;
        font-family: 'Open Sans';
        font-weight: 400;
        .catalogo__desplegable{
            font-size: 0.8rem;
            color: black;
            font-family: 'Open Sans';
            font-weight: 400;
            height: 1.8rem;
        }
    }
    .busqueda{
        grid-area:busqueda;
        align-self: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-self: start;
        .catalogo__inputbusqueda{
            font-size: 1rem;
            font-family: 'Roboto';
            font-weight: 500;
            border: 2px solid map-get($colores,gris-medio);
            border-right: 0ch;
            height: 2.6rem;
            width: 52rem;
            padding-left: 15px;
        }
        .catalogo__inputsubmit{
            font-size: 1.2rem;
            font-family: 'Roboto';
            font-weight: 400;
            width: 6rem;
            height: 2.6rem;
            border: 2px solid map-get($colores,gris-medio);
            border-left: 0;
            background-color: #ffffff;
        }
        .catalogo__inputsubmit:hover{
            background-color: #e7e7e7;
        }
    }
    &__categoria{
        @include centrado-flex-columna;
        justify-self:center;
        grid-area:categoria;
        background-color: white;
        border: 1px solid rgb(201, 197, 197);
        height: 300px;
        width: 250px;
        .titulo--categoria{
            font-family: 'Raleway';
            font-size: 1.5rem;
            align-self: start;
            justify-self: start;
            margin: 1rem 0rem 1rem   2rem ;
        }
        .listaproductos{
            grid-area: lista;
            list-style-image: url(../img/iconovineta.png);
            list-style-position: inside;
            .categorias{
                font-size: 1.2rem;
                text-decoration: none;
                font-weight: bold;
                color: map-get($colores,gris-semioscuro);
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                justify-self: start;
                transition:0s;
                line-height: 2rem ;
            }
            .categorias:hover{
                color: map-get($colores,gris-oscuro);
                font-size: 1.3rem;
            }            
        }
    }
    .bannercategoria{
        grid-area: bannercategoria;
        width: 57rem;
        text-align: center;
        justify-self: start;
        font-family: "Open Sans";
        font-size: 1.5rem;
        background-color: #e7e7e7;
        padding: 1rem;
    }
    .productos{
        grid-area: productos;
        display: grid;
        margin:0 auto;
        width: 100%;
        grid-template-columns: repeat(4,210px);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap: 30px;
        justify-content: start;
    }
}
/*CONTACTO*/
.main__contactos{
    @include centrado-flex-columna;
    &--titulo{
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin:1rem;
    }
    &__formulario{
        margin: auto;          
        &__formulario_escribir{
            min-height: 5rem;
        }
    }
}
/*ZONAS DE ENTREGA*/ 
.main__zonaentrega{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    .main__textosmapa{
        @include centrado-flex-columna;
        .main--subtitulo{
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }
    }
    .main--mapa{
        border-radius: 15px;
    }
}
.estructura{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}
/*COMO COMPRAR*/
.main__comocomprar{
    @include centrado-flex-columna;
    align-content: center;
    align-items: center;
    .main__bloque{
        background-color: white;
        margin: 1rem;
        max-width: 500px;
        border-radius: 20px;
    }
}