*{
    margin:0 ; 
    padding:0 ;
    box-sizing: border-box ;
    line-height: 1.6rem ;
}
/*Barra de navegacion*/
header{
    padding: 0.7rem 2rem;
    background-color: rgb(255, 255, 255);
}
nav{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
main{
    min-height: 100vh;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: 1rem;
    flex-wrap: wrap;
}
.logo{
    display:flex;
    height: 100%;
    align-self:center;
}
.menu__link{
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 65, 65);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: 1rem;
}
.menu__link:hover{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.menu__iniciasesion{
    border-left: 1px solid rgb(46, 46, 46);
}

#menu__iniciasesion{
    color: #fb9c17;
}
#menu--iniciasesion:hover{
    color: red;
    font-weight: 600;
}
.menu--carrito{
    box-sizing: content-box;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 100%;
    background-color: rgb(255, 15, 15);
    padding: 0.6rem 0.8rem;
    transition: 0.1s;
}
.menu--carrito:hover{
    font-size: 1.5rem;
    color: #ff1c1c;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(201, 8, 8);
    padding: 0.6rem 0.8rem;
}
body{
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}
/*PRINCIPAL*/
.fondo__banner{
    background-color: rgb(73, 73, 73);
}

.banner__iconos{
    font-size: 3rem;
    color: #ffffff;
}

.banner__texto1{
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(219, 219, 219);
}
.banner__texto2{
    font-size: 0.8rem;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgb(219, 219, 219);
}
.imperdibles{
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.ofertas--titulo{
    margin: auto;
    background-size: 100%;
    background-position: 50% 80%;
    height: 5rem;
    width: 59%;

}
.ofertas{
    display: grid;
    margin:0 auto;
    width: 100%;
    grid-template-columns: repeat(4,210px);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 30px;
    justify-content: center;
}

.ofertas__productos{
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 5fr 1fr 1fr 1fr 2fr;
    grid-template-areas: "foto        foto"
                         "descripcion descripcion"
                         "capacidad   capacidad"
                         "precio      precio"
                         "imput     comprar";
    justify-items: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 0px;
    background-color: #ffffff;
    transition:0.5s;
    max-height: 430px;
}
.tachado{
    text-decoration:line-through;
    color: #777777;
    font-size: 1rem;
    align-self: start;
}
.ofertas__productos:hover{
    transform:scale(105%);
    box-shadow: 0 0 10px rgb(117, 117, 117);
}

.oferta__productos--texto{
    grid-area: descripcion; 
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    color: rgb(50,50,50);
    font-family: 'Open Sans', sans-serif;
    line-height : 1.2rem;
}
.oferta__productos--capacidad{
    grid-area: capacidad;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: rgb(50,50,50);
}
.ofertas__productos__precio{
    grid-area: precio;
    font-size: 1.6rem;
    border-radius: 5px;
    color: #ff2525;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}
.ofertas__productos__input{
    width: 40%;
    height: 50%;
    line-height: 1.65;
    display: block;
    padding-left: 8px;
    justify-self:end;
    margin-right: 11px;
    font-family: 'Open Sans';
}

.ofertas__productos__boton{
    grid-area: comprar;
    display: flex;
    align-items: center;
    border-radius: 0px;
    width: 80%;
    height: 50%;
    background-color: #ff9d00;
    position: relative;
    overflow: hidden;
}
.ofertas__productos__boton::before{
    content: 'Comprar';
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    position: absolute;
    width: 100%;
    transition:all 0.2s ease-in-out;
}

.ofertas__productos__boton::after{
    content: "\f07a";
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'FontAwesome';
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 1;
    font-size: 1.3rem;
    transform: translate(0%,200%);
    transition:all 0.2s ease-in-out;
}
.ofertas__productos__boton:hover::before{
    opacity: 0;
    transform: translate(0%,-100%);
}
.ofertas__productos__boton:hover::after{
    opacity: 1;
    transform: translate(0%,0%);

}

.ofertas--imagen{
    grid-area: foto;
    width: 180px;
    height: 180px;
    background-image: url(../img/oferta1.png);
    background-repeat: no-repeat;
    background-size: 45%;
    margin-top: 1rem;
}

/*CATALOGO*/

.catalogo{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  1fr  1fr 2fr auto;
    grid-template-areas: "indice        filtro"
                        "categoria     busqueda"
                         "categoria     bannercategoria"
                         "categoria         productos";
    justify-items: center;
    grid-row-gap: 0.5rem;
    margin: 2rem  ;
}
.catalogo__categoria{
    justify-self:center;
    grid-area:categoria;
}
.catalogo__filtro{
    grid-area: filtro;
    justify-self: end;
    font-size: 1rem;
    color: black;
    font-family: 'Open Sans';
    font-weight: 400;
}
.catalogo__desplegable{
    font-size: 0.8rem;
    color: black;
    font-family: 'Open Sans';
    font-weight: 400;
    height: 1.8rem;
}

.catalogo__indice{
    grid-area: indice;
    font-size: 1rem;
    color: black;
    font-family: 'Open Sans';
    font-weight: 400;
    justify-self: self-start;
    margin-left: 3rem;
}

.busqueda{
    grid-area: busqueda;
    align-self: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-self: start;

}
.catalogo__inputbusqueda{
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    border: 2px solid rgb(41, 41, 41);
    border-right: 0ch;
    height: 2.6rem;
    width: 52rem;
    padding-left: 15px;
}
.catalogo__inputsubmit{
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight: 400;
    width: 6rem;
    height: 2.6rem;
    border: 2px solid rgb(41, 41, 41);
    border-left: 0;
    background-color: #ffffff;
}
.catalogo__inputsubmit:hover{
    background-color: #e7e7e7;
}
.titulo--categoria{
    font-family: 'Raleway';
    font-size: 1.5rem;
    align-self: start;
    justify-self: start;
    margin: 1rem 0rem 1rem   2rem ;
}
.listaproductos{
    grid-area: lista;
    list-style-image: url(../img/iconovineta.png);
    list-style-position: inside;
    

}
.categorias{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 65, 65);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    justify-self: start;
    transition:0s;
    line-height: 2rem ;
}
.categorias:hover{
    color: rgb(14, 14, 14);
    font-size: 1.1rem;
}

.bannercategoria{
    grid-area: bannercategoria;
    width: 57rem;
    text-align: center;
    justify-self: start;
    font-family: "Open Sans";
    font-size: 1.5rem;
    background-color: #e7e7e7;
    padding: 1rem;
}
.productos{
    grid-area: productos;
    display: grid;
    margin:0 auto;
    width: 100%;
    grid-template-columns: repeat(4,210px);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 30px;
    justify-content: start;
}
.catalogo__categoria{
    background-color: white;
    border: 1px solid rgb(201, 197, 197);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*CONTACTO*/
.main__contactos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main__formulario{
    margin: auto;
}
.main__formulario_escribir{
    min-height: 5rem;
}
/*ZONAS DE ENTREGA*/
.main__zonaentrega{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__textosmapa{
    display: flex;
    flex-direction: column;
}

/*COMO COMPRAR*/
.main__comocomprar{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.main__bloque{
    background-color: white;
    margin: 1rem;
    max-width: 500px;
    border-radius: 20px;
}

.main--mapa{
    border-radius: 15px;
}

/*ESTILOS*/
.main--subtitulo{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.main--titulo{
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin:1rem;

    }

/*FOOTER*/
footer{
    background-color:rgb(255, 255, 255) ;
    color:#7A7A7B;
    font-family: 'Roboto', sans-serif;
}
footer h2{
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pie__lista{
    list-style-type: none;
}
.pie__columna{
    margin: 2rem;
}
.pie__columna h2{
    margin-bottom: 0.5rem;
}

.pie__items{
    text-decoration: none;
    color:#7A7A7B;
}
.pie__apps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    border-top: 1px solid #a09c9c;
    justify-content: space-around;
    padding: 1.5rem;

}
.pie__redes{
    display: flex;
    flex-direction: row;
    align-content: center;

}
.pie--iconos{
    max-height: 45px;
    padding: 0.4rem;
}
.pie--aplicaciones{
    max-height: 40px;
}

.pie__derechos{
    border-top: 1px solid #a09c9c;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.4rem;
}



.estructura{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}


@media  screen and (max-width: 768px){
    nav{
        flex-direction:column ;
    }
    .imag__logo{
        width: 400px;
        margin-left: 25px;
    }
    .menu{
        margin: 0;
    }
    
    .main__zonaentrega{
        flex-direction: column;
    }  
    
    .menu__link{
        margin:0;
    }
    .main--mapa{
        border-radius: 15px;
        width: 80%;
        margin: 30px;
    } 
    .main--titulo{
        font-size: 1.5rem;
    }
    .catalogo__inputbusqueda {
        width: 80%;
    }
    .busqueda{
        width: 100%;
    }
    .categorias{
    
        font-size: 1rem;
    }
    
    .ofertas{
        grid-template-columns: repeat(3,210px);
    }
    .productos{
        grid-template-columns: repeat(2,210px);
        grid-template-rows: repeat(4,1fr);
        grid-column-gap: 30px;
        justify-content: center;
    
    
    }
    .catalogo{
        margin: 0;
    }
    .listaproductos{
        padding: 0;
        list-style-position: initial;
    }
    .productos{
        grid-template-columns: repeat(2,210px);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap: 30px;
        justify-content: center;
    
    
    }
    .categorias{
    
        font-size: 1rem;
    }
    .bannercategoria{
        width: 100%;
    }
    
    .catalogo__categoria{
        height: 100%;
        width: 100%;
    }
    .menu__iniciasesion {
        border-left: 0;
    }
}
@media  (max-width: 480px){
    main {
        min-height: 0;
    }
    header{
        padding: 0;
    }
    .imag__logo{
        width: 225px;
        margin: 5px;
    }

    nav{
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }
    .menu{
        flex-direction:column;
    }
    .menu__link{
        margin:0;
    }
    .menu__iniciasesion {
        border-left: 0;
    }
    
    #Menu--Carrito{
        margin-right: 1.5rem;
    }

    .catalogo{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: "indice" "filtro" "categoria"  "busqueda" "bannercategoria" "productos";
    }
    .catalogo__indice{
        margin: 0;
    }
    .catalogo__inputbusqueda {
        width: 60%;
    }
    .listaproductos{
        padding: 0;
        list-style-position: initial;
    }
    .productos{
        grid-template-columns: repeat(1,210px);
        grid-template-rows: repeat(7,1fr);
        grid-column-gap: 30px;
        justify-content: center;
    
    
    }
    .categorias{
    
        font-size: 1rem;
    }
    .bannercategoria{
        width: 100%;
    }

    .ofertas{
        grid-template-columns: repeat(1,210px);
        grid-template-rows: repeat(7,1fr);
    }
    
    .main__zonaentrega{
        flex-direction: column;
    }  
    
    .main--mapa{
        border-radius: 15px;
        width: 90%;
    } 
    .main--titulo{
        font-size: 1.5rem;
    }
    .pie{
        flex-direction: column;
    }
    
    .pie__apps{
        flex-direction: column;
        align-items: center;
    }
}