* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6rem;
}

header {
  padding: 0.7rem 2rem;
  background-color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

header nav .menu__link, header nav .menu__iniciasesion {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 1rem;
}

header nav .menu__link:hover, header nav .menu__iniciasesion:hover {
  color: black;
  font-weight: 600;
}

header nav .menu__iniciasesion {
  color: #fb9c17;
  border-left: 1px solid #2e2e2e;
}

header nav .menu__iniciasesion:hover {
  color: red;
  font-weight: 600;
}

header nav .menu--carrito {
  box-sizing: content-box;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 100%;
  background-color: #ff0f0f;
  padding: 0.6rem 0.8rem;
  transition: 0.1s;
}

header nav .menu--carrito:hover {
  font-size: 1.5rem;
  color: #ff1c1c;
  background-color: white;
  border: 1px solid #c90808;
  padding: 0.6rem 0.8rem;
}

main {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.fondo__banner {
  background-color: #494949;
}

.fondo__banner .banner__iconos {
  font-size: 3rem;
  color: white;
}

.fondo__banner .banner__texto1 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.3rem;
  color: #dbdbdb;
}

.fondo__banner .banner__texto2 {
  font-size: 0.8rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: #dbdbdb;
}

.imperdibles {
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.ofertas {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  justify-content: center;
}

.ofertas__productos {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5fr 1fr 1fr 1fr 2fr;
  grid-template-areas: "foto        foto" "descripcion descripcion" "capacidad   capacidad" "precio      precio" "imput     comprar";
  justify-items: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #c9c5c5;
  border-radius: 0px;
  background-color: #ffffff;
  transition: 0.5s;
  max-height: 430px;
}

.ofertas__productos .oferta__productos--texto {
  grid-area: descripcion;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  color: #323232;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2rem;
}

.ofertas__productos .oferta__productos--capacidad {
  grid-area: capacidad;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: #323232;
}

.ofertas__productos__precio {
  grid-area: precio;
  font-size: 1.6rem;
  border-radius: 5px;
  color: #ff2525;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0;
}

.ofertas__productos__precio .tachado {
  text-decoration: line-through;
  color: #777777;
  font-size: 1rem;
  align-self: start;
}

.ofertas__productos__input {
  grid-area: imput;
  width: 40%;
  height: 50%;
  line-height: 1.65;
  display: block;
  padding-left: 8px;
  justify-self: end;
  margin-right: 11px;
  font-family: 'Open Sans';
}

.ofertas__productos__boton {
  grid-area: comprar;
  display: flex;
  align-items: center;
  border-radius: 0px;
  width: 80%;
  height: 50%;
  background-color: #ff9d00;
  position: relative;
  overflow: hidden;
}

.ofertas__productos__boton::before {
  content: 'Comprar';
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.ofertas__productos__boton::after {
  content: "\f07a";
  text-decoration: none;
  color: white;
  font-family: 'FontAwesome';
  text-align: center;
  position: absolute;
  width: 100%;
  opacity: 1;
  font-size: 1.3rem;
  transform: translate(0%, 200%);
  transition: all 0.2s ease-in-out;
}

.ofertas__productos__boton:hover::before {
  opacity: 0;
  transform: translate(0%, -100%);
}

.ofertas__productos__boton:hover::after {
  opacity: 1;
  transform: translate(0%, 0%);
}

.ofertas__productos .ofertas--imagen {
  grid-area: foto;
  width: 180px;
  height: 180px;
  background-image: url(../img/oferta1.png);
  background-repeat: no-repeat;
  background-size: 45%;
  margin-top: 1rem;
}

.ofertas__productos:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px #757575;
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr  1fr 2fr auto;
  grid-template-areas: "indice        filtro" "categoria     busqueda" "categoria     bannercategoria" "categoria         productos";
  justify-items: center;
  grid-row-gap: 0.5rem;
  margin: 2rem;
}

.catalogo__indice {
  grid-area: indice;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  justify-self: self-start;
}

.catalogo__inicio {
  font-size: 1rem;
  color: #141414;
  text-decoration: none;
  font-weight: 400;
  margin-left: 3rem;
}

.catalogo__catalogo {
  font-size: 1rem;
  color: #141414;
  font-weight: 600;
  padding: 0;
}

.catalogo__filtro {
  grid-area: filtro;
  justify-self: end;
  font-size: 1rem;
  color: black;
  font-family: 'Open Sans';
  font-weight: 400;
}

.catalogo__filtro .catalogo__desplegable {
  font-size: 0.8rem;
  color: black;
  font-family: 'Open Sans';
  font-weight: 400;
  height: 1.8rem;
}

.catalogo .busqueda {
  grid-area: busqueda;
  align-self: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-self: start;
}

.catalogo .busqueda .catalogo__inputbusqueda {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 500;
  border: 2px solid #616161;
  border-right: 0ch;
  height: 2.6rem;
  width: 52rem;
  padding-left: 15px;
}

.catalogo .busqueda .catalogo__inputsubmit {
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: 400;
  width: 6rem;
  height: 2.6rem;
  border: 2px solid #616161;
  border-left: 0;
  background-color: #ffffff;
}

.catalogo .busqueda .catalogo__inputsubmit:hover {
  background-color: #e7e7e7;
}

.catalogo__categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  grid-area: categoria;
  background-color: white;
  border: 1px solid #c9c5c5;
  height: 300px;
  width: 250px;
}

.catalogo__categoria .titulo--categoria {
  font-family: 'Raleway';
  font-size: 1.5rem;
  align-self: start;
  justify-self: start;
  margin: 1rem 0rem 1rem   2rem;
}

.catalogo__categoria .listaproductos {
  grid-area: lista;
  list-style-image: url(../img/iconovineta.png);
  list-style-position: inside;
}

.catalogo__categoria .listaproductos .categorias {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  justify-self: start;
  transition: 0s;
  line-height: 2rem;
}

.catalogo__categoria .listaproductos .categorias:hover {
  color: #141414;
  font-size: 1.3rem;
}

.catalogo .bannercategoria {
  grid-area: bannercategoria;
  width: 57rem;
  text-align: center;
  justify-self: start;
  font-family: "Open Sans";
  font-size: 1.5rem;
  background-color: #e7e7e7;
  padding: 1rem;
}

.catalogo .productos {
  grid-area: productos;
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  justify-content: start;
}

/*CONTACTO*/
.main__contactos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__contactos--titulo {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 1rem;
}

.main__contactos__formulario {
  margin: auto;
}

.main__contactos__formulario__formulario_escribir {
  min-height: 5rem;
}

/*ZONAS DE ENTREGA*/
.main__zonaentrega {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__zonaentrega .main__textosmapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__zonaentrega .main__textosmapa .main--subtitulo {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.main__zonaentrega .main--mapa {
  border-radius: 15px;
}

.estructura {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

/*COMO COMPRAR*/
.main__comocomprar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main__comocomprar .main__bloque {
  background-color: white;
  margin: 1rem;
  max-width: 500px;
  border-radius: 20px;
}

footer {
  background-color: white;
  color: #7A7A7B;
  font-family: 'Roboto', sans-serif;
}

footer h2 {
  color: #333333;
  font-weight: bold;
}

.pie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.pie__columna {
  margin: 2rem;
}

.pie__columna h2 {
  margin-bottom: 0.5rem;
}

.pie__columna .pie__lista {
  list-style-type: none;
}

.pie__columna .pie__lista .pie__items {
  text-decoration: none;
  color: #7A7A7B;
}

.pie__apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-top: 1px solid #a09c9c;
  justify-content: space-around;
  padding: 1.5rem;
}

.pie__apps .pie__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.pie__apps .pie__redes .pie--iconos {
  max-height: 45px;
  padding: 0.4rem;
}

.pie__apps .pie--aplicaciones {
  max-height: 40px;
}

.pie__derechos {
  border-top: 1px solid #a09c9c;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .imag__logo {
    width: 400px;
    margin-left: 25px;
  }
  .menu {
    margin: 0;
  }
  .main__zonaentrega {
    flex-direction: column;
  }
  .menu__link, header nav .menu__iniciasesion {
    margin: 0;
  }
  .main--mapa {
    border-radius: 15px;
    width: 80%;
    margin: 30px;
  }
  .main--titulo {
    font-size: 1.5rem;
  }
  .catalogo__inputbusqueda {
    width: 80%;
  }
  .busqueda {
    width: 100%;
  }
  .categorias {
    font-size: 1rem;
  }
  .ofertas {
    grid-template-columns: repeat(3, 210px);
  }
  .productos {
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
  }
  .catalogo {
    margin: 0;
  }
  .listaproductos {
    padding: 0;
    list-style-position: initial;
  }
  .productos {
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
  }
  .categorias {
    font-size: 1rem;
  }
  .bannercategoria {
    width: 100%;
  }
  .catalogo__categoria {
    height: 100%;
    width: 100%;
  }
  .menu__iniciasesion {
    border-left: 0;
  }
}

@media (max-width: 480px) {
  main {
    min-height: 0;
  }
  header {
    padding: 0;
  }
  .imag__logo {
    width: 225px;
    margin: 5px;
  }
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .menu {
    flex-direction: column;
  }
  .menu__link, header nav .menu__iniciasesion {
    margin: 0;
  }
  .menu__iniciasesion {
    border-left: 0;
  }
  .catalogo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "indice"  "filtro"  "categoria"  "busqueda" "bannercategoria" "productos";
  }
  .catalogo__indice {
    grid-area: indice;
    margin: 0;
  }
  .catalogo__filtro {
    grid-area: filtro;
  }
  .catalogo__categoria {
    grid-area: categoria;
  }
  .busqueda {
    grid-area: busqueda;
  }
  .bannercategoria {
    grid-area: bannercategoria;
  }
  .catalogo__inputbusqueda {
    width: 60%;
  }
  .listaproductos {
    padding: 0;
    list-style-position: initial;
  }
  .productos {
    grid-area: productos;
    grid-template-columns: repeat(1, 210px);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
  }
  .categorias {
    font-size: 1rem;
  }
  .bannercategoria {
    width: 100%;
  }
  .ofertas {
    grid-template-columns: repeat(1, 210px);
    grid-template-rows: repeat(7, 1fr);
  }
  .main__zonaentrega {
    flex-direction: column;
  }
  .main--mapa {
    border-radius: 15px;
    width: 90%;
  }
  .main--titulo {
    font-size: 1.5rem;
  }
  .pie {
    flex-direction: column;
  }
  .pie__apps {
    flex-direction: column;
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */